body {
    height: 100vh;
    width: 100%;
    background-image: url('img/sfdn.jpg');
    background-color: rgba(0,0,0,0.5);
    /*background-image: url('img/sfondo.jpg');*/
    /*background-image: url('img/menù-pizzeria_bianco-e-nero.jpeg');*/
    background-size: cover;
    /*background-repeat: no-repeat;*/
}

.body-content {
    width: 100%;
    height: 100vh;
    border-radius: 15px;
    /*position:relative;*/
}

a {
    text-decoration: none;
    margin: 10px;
    color: orangered;
}

a:hover{
    color:white;
}

p {
    padding:5px;
    background-color: rgba(0,0,0,0.9);
}

h2, .h2 {
    border-radius: 70px 70px 0px 0px;
    margin-bottom: 0;
    color: White;
    background-color: rgb(184 0 0 / 90%);
    margin-top: 15px;
    font-size: 30px;
    padding: 20px;
    text-align: center;
}



li {
    background-color: currentColor;
    padding: 11px;
    margin: 5px;
    font-family: 'PT Sans', sans-serif;
    border: 1px solid orangered;
    border-radius: 5px;
    font-size: 20px;
}

    li:hover {
        font-size: 20px;
        padding: 11px;
        border: 1px solid white;
        color: black;
    }

.contflex {
    text-align: -webkit-center;
}

.navbar > .container, .navbar > .container-fluid, .navbar > .container-sm, .navbar > .container-md, .navbar > .container-lg, .navbar > .container-xl, .navbar > .container-xxl {
    display: flex;
    align-items: center;
    flex-direction: column;
    /*background-color: rgb(0 0 0 / 79%);*/
    padding: 10px;
}

.navbar {
    --bs-navbar-padding-y: 0;
    
}

footer {
    text-align: center;
    background-color: rgb(0 0 0 / 79%);
    color: white;
    padding: 10px;
    left: 0;
    right: 0;
    /*position:sticky;*/
    /*   position: absolute;
    bottom: 0;*/
}



dt{
    color: orangered;
}

dd {
    color: white;
}

.dl-horizontal{
    padding:30px;
}

.dettagliPiz{
    display:flex;
}

th, td {
    color: white;
}

#btnAccedi{
    color:white;
}

label{
    color:white;
}
.form-group{
    padding:20px;
}

.flexCard {
    margin-top:20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.9);
}

.card-text {
    text-align: center;
    color: white;
}

.card-body{
    text-align:center;
}

#contBtn {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    
}

.btn-primary {
    margin: 4px;
    width: 198px;
    --bs-btn-hover-bg: #000000;
    --bs-btn-border-color: orangered;
    --bs-btn-active-border-color: #ffffff;
    --bs-btn-bg: #000000;
    text-align: center;
}

   h3{
       color:white;
       font-size: large;
       padding:10px
   }

 h5{
    color:white;
    font-size:medium;
}

#areaRiservata {
    padding:10px;
    background-color: rgba(0,0,0,0.9);
}

#salva {
    color: orangered;
    padding: 10px;
    border: 1px solid orangered;
}